@use "global" as *;

.c-drawer {
  position: fixed;
  top: myrem(50);
  right: 0;
  width: myrem(300);
  background: $green;
  transform: translateX(200%);
  transition: transform 0.5s ease;
  z-index: 90;
}

.c-drawer.is-open {
  transform: translateX(0);
}

.c-drawer__nav {
  
}

.c-drawer__items {
  display: flex;
  flex-direction: column;
}

.c-drawer__item {
}

.c-drawer__link {
  display: flex;
  align-items: center;
  padding-left: myrem(20);
  height: myrem(58);
  width: 100%;
  font-size: myrem(18);
  font-weight: 600;
  color: $white;
  text-transform: uppercase;
  line-height: 1.83333;
}