@use "global" as *;

.p-about {
  position: relative;
}

.p-about__image {
  position: relative;
  width: 100%;
  z-index: 0;
}

.p-about__image img {

}

.p-about__contents {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;


  @include mq(md) {
    align-items: flex-start;
    padding-left: calc(135 / 1080 * 100vw);
  }
}

.p-about__item {
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  column-gap: calc(26 / 375 * 100vw);
  margin-top: myrem(5);

  @include mq(md) {
    flex-direction: column;
    row-gap: calc(42 / 1080 * 100vw);
  }
}

.p-about__title {
  font-size: calc(25 / 375 * 100vw);
  font-weight: 500;
  line-height: 1.19;
  color: $black;
  font-family: $font-main;
  letter-spacing: 0.19em;

  @include mq(md) {
    font-size: calc(30 / 1080 * 100vw);
    letter-spacing: 0.16em;
    white-space: nowrap;
  }
}

.p-about__text {
  writing-mode: vertical-rl;
}

.p-about__text-item {
  font-size: calc(16 / 375 * 100vw);
  font-weight: 500;
  color: $black;
  font-family: $font-main;
  letter-spacing: 0.25em;
  line-height: calc(26 / 16);

  @include mq(md) {
    font-size: calc(18 / 1080 * 100vw);
    letter-spacing: 0.39em;
    white-space: nowrap;
    line-height: calc(48 / 18);
  }
}