@use "global" as *;

.p-company-detail {

}

.p-company-detail__address {
  margin-top: myrem(8);
}

.p-company-detail__tel {
  display: flex;
  align-items: baseline;
  margin-top: myrem(11);
  gap: myrem(5);
}


.p-company-detail__mail {
  display: flex;
  gap: myrem(17);
  margin-top: myrem(15);
  
  @include mq(md) {

  }
}

.p-company-detail__tel,
.p-company-detail__mail {
  position: relative;
}

.p-company-detail__tel .p-company-detail__label {
  font-size: myrem(16);
  font-weight: 600;
  line-height: 1.5625;
}

.p-company-detail__tel .p-company-detail__value {
  font-size: myrem(25);
  font-weight: 600;
  line-height: 1;
}

.p-company-detail__tel .p-company-detail__value a {
  display: inline-block;
  color: inherit;
  height: 100%;

  @include mq(md) {
    cursor: default;
    pointer-events: none;
  }
}

.p-company-detail__mail .p-company-detail__value a {
  display: inline-block;
  height: 100%;
  transition: opacity 0.4s;

  @include mq(md) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.p-company-detail__label, .p-company-detail__value {
  font-size: myrem(16);
  font-weight: 600;
  line-height: 1.5625;
}



