@use "global" as *;

.p-company {
  padding-top: myrem(52);
  padding-bottom: myrem(50);

  @include mq(md) {
    padding-top: myrem(82);
    padding-bottom: myrem(80);
  }
}

.p-company__inner {

}

.p-company__title {
  margin-left: myrem(9);
}

.p-company__contents {
  margin-top: myrem(37);

  @include mq(md) {
    display: flex;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
    margin-top: myrem(68);
    position: relative;
  }
}

.p-company__map {
  width: 100%;

  @include mq(md) {
    width: myrem(600);
    position: relative;
    z-index: 100;
  }
}

.p-company__map iframe {
  width: 100%;
  aspect-ratio: 315 / 300;
  display: block;

  @include mq(md) {
    aspect-ratio: 600 / 400;
  }
}

.p-company__info {
  flex: 1;
  margin-top: myrem(19);
  background: $green;
  color: $white;
  padding: myrem(19) myrem(20) myrem(12);

  @include mq(md) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: myrem(49) myrem(40) myrem(42) myrem(13);
    position: relative;
    z-index: 0;
    margin-top: myrem(130);
    width: 60%;
    min-width: myrem(280);
  }

  @include mq(mdMid) {
    margin-top: myrem(180);
  }

  @include mq(tab) {
    margin-top: myrem(198);
    padding-right: myrem(66);
  }
}

.p-company__info::before {
  @include mq(md) {
    content: "";
    width: calc(500 / 320 * 100%);
    height: 100%;
    background: $green;
    position: absolute;
    top: 0;
    right: 0;
  }

  @include mq(tab) {
  }
}

.p-company__info-inner {
  position: relative;
}

.p-company__info-inner address {
  font-style: normal;
}

.p-company__name {
  font-size: myrem(20);
  font-weight: 600;
  line-height: 1.65;
  @include mq(md) {
    padding-right: myrem(8);
  }
}

.p-company__detail {


}



