@use "global" as *;

.p-company-detail {

}

.p-company-detail__address {
  margin-top: myrem(8);
}

.p-company-detail__tel {
  display: flex;
  align-items: baseline;
  margin-top: myrem(8);
  gap: myrem(5);
}


.p-company-detail__mail {
  display: flex;
  gap: myrem(19);
  margin-top: myrem(11);
  transition: opacity 0.4s;

  @include mq(md) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.p-company-detail__tel,
.p-company-detail__mail {
  position: relative;
}

.p-company-detail__value a,
.p-company-detail__value a {
  color: inherit;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.p-company-detail__tel .p-company-detail__label {
  font-size: myrem(16);
  font-weight: 600;
  line-height: 1.5625;
}

.p-company-detail__tel .p-company-detail__value {
  font-size: myrem(25);
  font-weight: 600;
  line-height: 1.5625;
}

.p-company-detail__tel .p-company-detail__value a {
  color: inherit;

  @include mq(md) {
    pointer-events: none;
    cursor: default;
  }
}

.p-company-detail__label {
  font-size: myrem(16);

}

.p-company-detail__value {

}



