@use "global" as *;

.p-contact-item {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: initial;
    align-items: center;
  }
}

.p-contact-item__label {
  font-size: myrem(20);
  font-weight: 500;
  line-height: 1.65;
}

.p-contact-item__required {
  margin-left: myrem(7);
}

.p-contact-item__input, .p-contact-item__select {
  width: 100%;
  min-height: myrem(50);
  @include mq(md) {
    max-width: myrem(630);
  }
}

.p-contact-item__input::placeholder, .p-contact-item__select {
  font-size: myrem(16);
  font-weight: 500;
  line-height: 1.5625;
  padding: myrem(13) myrem(17) myrem(12);

}

.p-contact-item--gender {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: myrem(45);
}

.p-contact-item__radios {
  display: flex;
  align-items: center;
  column-gap: myrem(33);
}

.p-contact-item__radio input {
  background: $white;
  appearance: none;
  width: myrem(20);
  height: myrem(20);
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;

  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: myrem(7);
    height: myrem(7);
    background: $black;
    border-radius: 50%;
  }
}

.p-contact-item__radio {
  display: flex;
  align-items: center;
  column-gap: myrem(8);
  cursor: pointer;
}

.p-contact-item__radio span {
  font-size: myrem(18);
  font-weight: 500;
  line-height: 1.38889;
}

.p-contact-item__select-wrap {
  position: relative;
}

.p-contact-item__select-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  right: myrem(20);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: myrem(10) solid transparent;
  border-right: myrem(10) solid transparent;
  border-top: myrem(12) solid $green;
  pointer-events: none;
}

.p-contact-item__select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.p-contact-item__textarea {
  width: 100%;
  padding: myrem(13) myrem(17) myrem(12);
  min-height: myrem(200);
}

.p-contact-item.p-contact-item--check {
  margin-top: myrem(29);
  align-items: flex-start;
}

.p-contact-item__label--check {
  line-height: 1.35;
}

.p-contact-item__sub {
  display: block;

  @include mq(md) {
    display: inline;
  }
}

.p-contact-item__sub .p-contact-item__required {
 margin-left: myrem(20);
}

.p-contact-item__checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: myrem(16);
  row-gap: myrem(5);
  margin-top: 1px;

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.p-contact-item__checkbox {
  display: flex;
  align-items: center;
  column-gap: myrem(10);
  font-size: myrem(14);
  cursor: pointer;
}

.p-contact-item__checkbox input {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  width: myrem(20);
  height: myrem(20);
  background: $white;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.p-contact-item__checkbox input:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: myrem(6);
    height: myrem(11);
    border-right: 2px solid $green;
    border-bottom: 2px solid $green;
}

.p-contact-item__checkbox span {
   font-size: myrem(16);
   font-weight: 500;
   line-height: 1.5625;

  }

.p-contact-item__policy {
  padding: myrem(30) myrem(30) myrem(30) myrem(30);
  height: myrem(323);
  overflow-y: scroll;
  background: $white;
  position: relative;

   &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: myrem(30);
    background: $white;
    pointer-events: none;
    z-index: 2;

  @include mq(md) {
    height: myrem(200);
    margin-top: 0;
    flex: 1;
    padding: myrem(40);
  }
}
}

.p-contact-item__policy::-webkit-scrollbar {
  width: myrem(20);
}

.p-contact-item__policy::-webkit-scrollbar-track {
  background: #D9D9D9;
  margin-top: myrem(10);
  margin-bottom: myrem(23);
  border-right: myrem(10) solid transparent;
  border-left: myrem(0) solid transparent;
  background-clip: padding-box;
}

.p-contact-item__policy::-webkit-scrollbar-thumb {
  background: #8B8B8B;
  margin-top: myrem(10);
  margin-bottom: myrem(23);
  border-right: myrem(10) solid transparent;
  border-left: myrem(0) solid transparent;
  background-clip: padding-box;
}


.p-contact-item__policy p {
  margin-top: myrem(33);
  font-size: myrem(16);
  font-weight: 500;
  line-height: 2.0625;

  @include mq(md) {
    font-size: myrem(18);
    line-height: 1.72222;
  }
}

.p-contact-item__policy p:first-child {
    margin-top: 0;
  }

.p-contact-item__policy p:last-child {
  display: block;
  overflow: visible;
}

.p-contact__submit {

}

.p-contact__btn {

}

.p-contact__btn {

}

.p-contact__btn button {

}

