@use "global" as *;

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: myrem(50);
  transition: background 0.4s ease;

  @include mq(md) {
    height: myrem(80);
  }
}

.p-header__inner {
  width: 100%;
  height: myrem(50);
  padding-left: myrem(20);
  padding-right: myrem(20);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    height: myrem(80);
    max-width: myrem(1080);
    margin: 0 auto;
    padding-left: myrem(80);
    padding-right: myrem(80);
  }
}

.p-header__logo a {
  font-size: myrem(20);
  line-height: 1.65;
  font-weight: 500;
  color: $white;
  transition: .4s;
  display: flex;
  align-items: center;
  height: myrem(50);

  @include mq(md) {
    height: myrem(80);

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

.p-header__hamburger {
  margin-right: myrem(-20);
  margin-top: -2px;
}

.p-header__nav {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.p-header__items {
  display: flex;
  align-items: center;
  column-gap: myrem(31);
}

.p-header__item a {
  font-size: myrem(18);
  font-weight: 500;
  line-height: 1;
  color: $white;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;

  @include mq(md) {
    height: myrem(80);
  }
}

.p-header__item a::after {
  content: "";
  display: none;

  @include mq(md) {
    display: block;
    width: 0;
    height: 1px;
    background: $white;
    transition: width .3s;
    position: absolute;
    bottom: myrem(27);
    left: 0;
  }
}

.p-header__item a:hover::after {
  @include mq(md) {
    width: 100%;
  }
}

.p-header.is-scrolled {
  background: $green;
}