@use "global" as *;

.p-news-item {
  border-bottom: 1px solid $border-green;
  
  @include mq(md) {
  }
}

.p-news-item__link {
  display: block;
  padding-top: myrem(13);
  padding-bottom: myrem(13);

  @include mq(md) {
    padding-bottom: myrem(12);
    transition: opacity 0.4s;

      &:hover {
        opacity: 0.4;
      }
  }
}

.p-news-item:first-child .p-news-item__link {
  padding-top: myrem(23);
}

.p-news-item__body {
  display: flex;
  align-items:baseline;
  column-gap: calc(19 / 275 * 100%);

  @include mq(md) {
    align-items: flex-start;
    column-gap: calc(69 / 390 * 100%);
  }
}

.p-news-item__date {
  width: myrem(53);
  font-size: myrem(16);
  font-weight: 500;
  line-height: 2.0625;
  flex-shrink: 0;
}

.p-news-item__text {
  font-size: myrem(18);
  font-weight: 500;
  line-height: 1.38889;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding-top: myrem(6);

  @include mq(md) {
    padding-top: myrem(7);
  }
}

