@use "global" as *;

.p-service-item {
  position: relative;

  @include mq(md) {
    display: flex;
    align-items: center;
    max-width: myrem(920);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.p-service-item__image {
  width: 100%;

  @include mq(md) {
    width: calc(600 / 920 * 100%);
    position: relative;
    z-index: 10;
  }
}

.p-service-item:nth-child(even) .p-service-item__image {
  @include mq(md) {
    margin-left: auto;
  }
}

.p-service-item__image img {
  width: 100%;
  display: block;
  aspect-ratio: 315 / 220;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 600 / 300;
  }
}

.p-service-item__caption {
  margin-top: myrem(6);
  font-size: myrem(16);
  font-weight: 500;
  line-height: 1.56;
  color: $black;

  @include mq(md) {
    margin-top: myrem(20);
  }
}

.p-service-item:nth-child(even) .p-service-item__caption {
  @include mq(md) {
    text-align: right;
  }
}



.p-service-item__content {
  background: $green;
  color: $white;
  padding: myrem(20) myrem(20) myrem(12);
  margin-top: 5px;

  @include mq(md) {
    width: calc(500 / 920 * 100%);
    position: absolute;
    top: myrem(140);
    z-index: 0;
  }
}

.p-service-item:nth-child(odd) .p-service-item__content {
  @include mq(md) {
    padding: myrem(50) myrem(27) myrem(40) myrem(248);
    right: 0;
    left: auto;
  }
}

.p-service-item:nth-child(even) .p-service-item__content {
  @include mq(md) {
    padding: myrem(50) myrem(248) myrem(40) myrem(40);
    left: 0;
    right: auto;
  }
}

.p-service-item__title {
  font-size: myrem(20);
  line-height: 1.25;
  font-weight: 600;
  color: $white;

  @include mq(md) {
    font-size: myrem(25);
    font-weight: 600;
    line-height: 1.32;
    color: $white;
  }
}

.p-service-item__text {
  margin-top: myrem(14);
  font-size: myrem(16);
  line-height: 1.5625;
  color: $white;

  @include mq(md) {
    font-size: myrem(16);
    font-weight: 600;
    line-height: 1.5625;
    margin-top: myrem(19);
  }
}