@use "global" as *;

.p-service-item {
  @include mq(md) {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.p-service-item:nth-child(even) {
  flex-direction: row-reverse;
}

.p-service-item__image {
  width: 100%;
  @include mq(md) {
    width: 65%;
    position: relative;
    z-index: 10;
  }

  @include mq(tab) {
    width: myrem(600);
  }
}

.p-service-item__image img {
  aspect-ratio: 315 / 220;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 600 / 300;
  }
}

.p-service-item__caption {
  margin-top: myrem(6);
  font-size: myrem(16);
  font-weight: 500;
  line-height: 1.56;
  color: $black;

  @include mq(md) {
    margin-top: myrem(20);
  }
}

.p-service-item:nth-child(even) .p-service-item__caption {
  @include mq(md) {
    text-align: right;
  }
}

.p-service-item__content {
  flex: 1;
  background: $green;
  color: $white;
  margin-top: myrem(5);
  padding: myrem(20) myrem(20) myrem(12);

  @include mq(md) {
    position: relative;
    z-index: 0;
    margin-top: myrem(100);
    padding-left: 0;
    padding-right: 0;
  }

  @include mq(tab) {
    margin-top: myrem(145);
  }
}

.p-service-item__content::before {
  @include mq(md) {
    content: "";
    width: myrem(400);
    height: 100%;
    background: $green;
    position: absolute;
  }

  @include mq(tab) {
    width: myrem(500);
  }
}

.p-service-item:nth-child(odd) .p-service-item__content {
  @include mq(md) {
    padding: myrem(50) myrem(0) myrem(40) myrem(20);
  }

  @include mq(mdPlus) {
    padding: myrem(50) myrem(0) myrem(40) myrem(50);
  }

  @include mq(tab) {
    padding: myrem(50) myrem(0) myrem(40) myrem(68);
  }
}

.p-service-item:nth-child(even) .p-service-item__content {
  @include mq(md) {
    padding: myrem(50) myrem(0) myrem(40) myrem(20);
  }
  @include mq(mdMid) {
    padding: myrem(50) myrem(0) myrem(40) myrem(40);
  }

  @include mq(tab) {
    padding: myrem(50) myrem(0) myrem(40) myrem(40);
  }
}

.p-service-item:nth-child(odd) .p-service-item__content::before {
  @include mq(md) {
    top: 0;
    right: 0;
  }
}

.p-service-item:nth-child(even) .p-service-item__content::before {
  @include mq(md) {
    top: 0;
    right: initial;
    left: 0;
  }
}

.p-service-item__title {
  font-size: myrem(20);
  line-height: 1.25;
  font-weight: 600;
  color: $white;
  position: relative;

  @include mq(md) {
    font-size: myrem(25);
    font-weight: 600;
    line-height: 1.32;
    color: $white;
  }
}

.p-service-item__text {
  margin-top: myrem(14);
  font-size: myrem(16);
  line-height: 1.5625;
  color: $white;
  position: relative;

  @include mq(md) {
    font-size: myrem(16);
    font-weight: 600;
    line-height: 1.5625;
    margin-top: myrem(19);
  }
}