@use "global" as *;

.p-works {
  padding-top: myrem(50);
  padding-bottom: myrem(42);

  @include mq(md) {
    padding-top: myrem(80);
    padding-bottom: myrem(97);
  }
}

.p-works__inner {

}

.p-works__title {
  margin-left: myrem(9);
}

.p-works__items {
  margin-top: myrem(38);
  margin-top: myrem(80);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: myrem(22);

  @include mq(md) {
    margin-top: myrem(68);
    grid-template-columns: repeat(4, 1fr);
    column-gap: myrem(40);
  }
}

.p-works__item {

}
